@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
$grey-dark: #363636;
$grey-light: #f1f1f1;
$grey: #d5d5d5;
$green: rgb(45, 171, 45);
$red: rgb(168, 0, 0);

html {
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr [main-start] repeat(2, 1fr) [main-end] 1fr;
  grid-template-rows: 15rem 30rem;
  grid-template-areas: ". head head ." ". interactive info info";

  font-size: 2rem;

  gap: 3rem;
  background-color: $grey-dark;
  color: $grey-light;
  // text-shadow: white 0 0 5px;

  &.won {
    background-color: $green;
  }
  &.lost {
    background-color: $red;
  }

  .header {
    grid-area: head;
    justify-self: center;
    align-self: end;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-shadow: black 0 0 10px;
    align-items: center;

    h1 {
      font-size: 3rem;
    }

    .description {
      text-align: center;
      font-size: 1.5rem;
      color: $grey;
      text-shadow: rgba(0, 0, 0, 0.677) 0 0 10px;
    }

    .number-display {
      font-size: 4rem;
    }
  }

  .interactive {
    grid-area: interactive;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > * {
      flex: 0 0 3rem;
      font: inherit;
      border-radius: 0.5rem;
      border: none;
      padding-top: 5px;
      text-align: center;
    }

    &__user-input {
    }
  }

  .info {
    grid-area: info;
  }
}
